
<% if (@post.comments.count > 0) %>
	<% @post.comments.each do |c| %>
	  <hr>
	  <p>
	    <%= link_to User.find(c.user_id).username, user_path(User.friendly.find(c.user_id))%> : <%= c.text %>
	    <% if current_user %>
				<% if current_user.id == c.user_id %>
  				<%= link_to 'Delete', [c.post, c], data: { confirm: 'Are you sure?' }, :method => :delete %>
  			<% end %>
			<% end %>
		</p>
	<% end %>
<% else %>
	This post has no comments yet.
<% end %>