<h4><%= @prof.name %> always says:</h4> 

<% if @prof.posts.count > 0 %>
	<% Post.where(professor_id: params[:id]).find_each do |p| %>
		<h2>"<%= p.text %>"</h2>
		<p>Posted by <%= link_to User.find(p.user_id).username, user_path(p.user_id) %></p>
		<hr>
	<% end %>
<% else %>
	<h3>This professor has no posts yet.</h3>
<% end %>