/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 /*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
 }


.full-width {
  max-width: 1400px;
}

.footer {
  background-color: #2980b9;
  padding: 1rem 1rem;
  text-align: center;
  color: #fff;
  margin-top: -1rem;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 10px;
}

.footer h3{
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 10px;
}

.footer p, .footer a {
  font-weight: 300;
  font-size: 1.2em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+3) {
    border-left: 1px solid #b3b3b3;
    min-height: 120px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}
