<div class="main">
	<div class="large-centered"></div>
		<h2>
			Welcome to MyProfessorSays. 
		</h2>
		<h4>
			Click a professors name to learn their life advices or add a new post.
		</h4>
	</div>
</div>

<div class="row">
	<hr>
	<div class="expanded button-group">
		<%= link_to "View all Posts", posts_path, class: "hollow button" %>
		<%= link_to "View all Professors", professors_path, class: "hollow button" %>
		<%= link_to "Add a new Post", new_post_path, class: "hollow button" %>
		<%= link_to "Add a new Professor", new_professor_path, class: "hollow button" %>
	</div>
	<hr>
</div>