	<footer class="footer">
	  <div class="row">
	    <div class="large-9 columns">
				<p>
					Page still under the development. Want to add to it? <a class="fa fa-github" target="_blank" href="https://github.com/arddit/myprofsays/"> Fork it!</a>
				</p>
	    </div>
	    <div class="large-3 columns">
        <p> 
        	&copy; Copyright <a class="fa" target="_blank" href="https://arddit.com/"> Ardit Hamzai</a>
        </p>
	    </div>
	  </div>
	</footer>